{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Livros</h1>
<div class="container">
    <div>
    {% if perms.app.add_livro %}
        <a href="{% url 'criar' %}">
            <button class="btn btn-primary">
                Novo Livro
            </button>
        </a>
    {% endif %}
    </div>
    <div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Ano</th>
            <th scope="col">Gênero</th>
            <th scope="col">Num. Cópias</th>
            {% if request.user.is_authenticated %}
            <th scope="col">Opções</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for livro in livros %}
            <tr>
                <th scope="row">{{ livro.id }}</th>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.ano }}</td>
                <td>{{ livro.genero }}</td>
                <td> - </td>
                <td>
                    {% if perms.app.edit_livro %}
                    <a href="{% url 'editar' livro.id %}" class="btn btn-primary">
                        Editar
                    </a>
                    {% endif %}
                    {% if perms.app.delete_livro %}
                    <a href="{% url 'remover' livro.id %}" class="btn btn-danger">
                        Excluir
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if livros.has_previous %}
                <a href="?pagina=1">&laquo; Início</a>
                <a href="?pagina={{ livros.previous_page_number }}">anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ livros.number }} de {{ livros.paginator.num_pages }}.
            </span>
    
            {% if livros.has_next %}
                <a href="?pagina={{ livros.next_page_number }}">próxima</a>
                <a href="?pagina={{ livros.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

    </div>

{% endblock content %}